{% extends 'bases/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'style/pages/desenvolvedores/desenvolvedores.css' %}">
{% endblock %}
{% block title %}
    Academy One - Desenvolvedores
{% endblock %}
{% block content %}
    <main class="conteudo-desenvolvedores">
        <section class="card-titulo fade-in-up" data-animate>
            <h1 class="titulo-item">Desenvolvedores</h1>
        </section>
        <section class="card-desenvolvedores">
            <!-- --------------------------------------------Giovani Dantas--------------------------------------------------------- -->
            <div class="card stagger-item" data-animate>
                <div class="card-image">
                    <img src="{% static 'images/pages/desenvolvedores/imagem-giovani.jpg' %}" alt="Imagem de Perfil" class="imagem-item">
                </div>
                <p class="name">Giovani Dantas</p>
                <p class="paragrafo">Gestor</p>
                <p class="paragrafo">
                    O gestor de projetos coordena equipes e recursos para garantir que os objetivos sejam alcançados de forma eficiente, planejando e monitorando cada etapa do projeto.</p>
                <div class="socials">
                 <a href="https://github.com/" target="_blank" rel="noopener"> <button class="botao" title="GitHub de Mak"><i class="bi bi-github icon github"></i></button></a>
                  <a href="https://www.linkedin.com/in/giovani-dantas-braconi/" target="_blank" rel="noopener"><button class="botao" title="LinkedIn de Mak"><i class="bi bi-linkedin icon linkedin"></i></button></a>
                </div>
            </div>
            <!-- --------------------------------------------Giovani Dantas--------------------------------------------------------- -->

            <!-- --------------------------------------------Pedro Rocha--------------------------------------------------------- -->
          <div class="card stagger-item" data-animate>
                <div class="card-image">
                    <img src="{% static 'images/pages/desenvolvedores/imagem_pedrao.jpeg' %}" alt="Imagem de Perfil" class="imagem-item">
                </div>
                <p class="name">Pedro Rocha</p>
                <p class="paragrafo">Gestor</p>
                <p class="paragrafo">
                    O gestor de projetos coordena equipes e recursos para garantir que os objetivos sejam alcançados de forma eficiente, planejando e monitorando cada etapa do projeto.</p>
                <div class="socials">
                    <a href="https://github.com/PedroAraujo88" target="_blank" rel="noopener"> <button class="botao" title="GitHub de Nathan Ferraz"><i class="bi bi-github icon github"></i></button></a>
                    <a href="https://www.linkedin.com/in/pedro-henrique-araujo-rocha/" target="_blank" rel="noopener"> <button class="botao" title="LinkedIn de Nathan Ferraz"><i class="bi bi-linkedin icon linkedin"></i></button></a> 
                </div>
            </div>
            <!-- --------------------------------------------Pedro Rocha--------------------------------------------------------- -->

            <!-- --------------------------------------------Allan Maia--------------------------------------------------------- -->
            <div class="card stagger-item" data-animate>
                <div class="card-image">
                    <img src="{% static 'images/pages/desenvolvedores/imagem_allan.jpeg' %}" alt="Imagem de Perfil" class="imagem-item">
                </div>
                <p class="name">Allan Maia</p>
                <p class="paragrafo">Fullstack</p>
                <p class="paragrafo">Claro, vamos à descrição do programador Full-Stack:

O programador Full-Stack é um profissional "híbrido", com um conhecimento que abrange tanto o front-end (a parte visual e interativa com a qual o usuário interage) quanto o back-end (os bastidores, servidores e bancos de dados). Ele é capaz de construir e manter um site ou aplicativo de ponta a ponta, desde a interface do usuário até a lógica do servidor.</p>
                <div class="socials">
                    <a href="https://github.com/Ratatosk123" target="_blank" rel="noopener"> <button class="botao" title="GitHub de Irley Viera"><i class="bi bi-github icon github"></i></button></a>
                    <a href="https://www.linkedin.com/in/allan-maia-gondim/" target="_blank" rel="noopener"> <button class="botao" title="LinkedIn de Irley Viera"><i class="bi bi-linkedin icon linkedin"></i></button></a> 
                </div>
            </div>
            <!-- --------------------------------------------Allan Maia--------------------------------------------------------- -->

            <!-- --------------------------------------------Fernando Ramalho--------------------------------------------------------- -->
           <div class="card stagger-item" data-animate>
                <div class="card-image">
                    <img src="{% static 'images/pages/desenvolvedores/imagem_fernando.jpg' %}" alt="Imagem de Perfil" class="imagem-item">
                </div>
                <p class="name">Fernando Ramalho</p>
                <p class="paragrafo">Back-end</p>
                <p class="paragrafo">o programador back-end é o arquiteto da funcionalidade de um site ou aplicativo. Ele trabalha nos "bastidores", ou seja, em tudo aquilo que o usuário não vê, mas que garante que a aplicação funcione de maneira correta, segura e eficiente.</p>
                <div class="socials">
                    <a href="https://github.com/Atered01" target="_blank" rel="noopener"> <button class="botao" title="GitHub de Kauã Sousa"><i class="bi bi-github icon github"></i></button></a>
                    <a href="https://www.linkedin.com/in/fernando-ramalho-programador/" target="_blank" rel="noopener"> <button class="botao" title="LinkedIn de Kauã Sousa"><i class="bi bi-linkedin icon linkedin"></i></button></a> 
                </div>
            </div>
            <!-- --------------------------------------------Fernando Ramalho--------------------------------------------------------- -->

            <!-- --------------------------------------------João Vitor--------------------------------------------------------- -->
           <div class="card stagger-item" data-animate>
                <div class="card-image">
                    <img src="{% static 'images/pages/desenvolvedores/imagem_joao.jpg' %}" alt="Imagem de Perfil" class="imagem-item">
                </div>
                <p class="name">João Vitor</p>
                <p class="paragrafo">Back-end</p>
                <p class="paragrafo">o programador back-end é o arquiteto da funcionalidade de um site ou aplicativo. Ele trabalha nos "bastidores", ou seja, em tudo aquilo que o usuário não vê, mas que garante que a aplicação funcione de maneira correta, segura e eficiente.</p>
                <div class="socials">
                    <a href="https://github.com/jovicastro" target="_blank" rel="noopener"> <button class="botao" title="GitHub de Pedro Rocha"><i class="bi bi-github icon github"></i></button></a>
                    <a href="https://www.linkedin.com/in/jvscastro/" target="_blank" rel="noopener"> <button class="botao" title="LinkedIn de Pedro Rocha"><i class="bi bi-linkedin icon linkedin"></i></button></a> 
                </div>
            </div>
            <!-- --------------------------------------------João Vitor--------------------------------------------------------- -->

            <!-- --------------------------------------------Andre--------------------------------------------------------- -->
            <div class="card stagger-item" data-animate>
                <div class="card-image">
                    <img src="{% static 'images/pages/desenvolvedores/imagem_andre.png' %}" alt="Imagem de Perfil" class="imagem-item">
                </div>
                <p class="name">Andre</p>
                <p class="paragrafo">Documentação</p>
                <p class="paragrafo">
                    O documentador cria e mantém a documentação clara e acessível de projetos, facilitando a comunicação e garantindo que o conhecimento seja compartilhado entre as equipes.</p>
                <div class="socials">
                    <a href="https://github.com/JxF0uL" target="_blank" rel="noopener"> <button class="botao" title="GitHub de Enzo Spada"><i class="bi bi-github icon github"></i></button></a>
                    <a href="https://www.linkedin.com/in/andr%C3%A9-zubcov-251747252/" target="_blank" rel="noopener"> <button class="botao" title="LinkedIn de Enzo Spada"><i class="bi bi-linkedin icon linkedin"></i></button></a> 
                </div>
            </div>
            <!-- --------------------------------------------Andre--------------------------------------------------------- -->
            
            <!-- --------------------------------------------Pedro Frasca--------------------------------------------------------- -->
            <div class="card stagger-item" data-animate>
                <div class="card-image">
                    <img src="{% static 'images/pages/desenvolvedores/imagem_frasca.jpg' %}" alt="Imagem de Perfil" class="imagem-item">
                </div>
                <p class="name">Pedro Frasca</p>
                <p class="paragrafo">Front-end</p>
                <p class="paragrafo">O programador front-end é o responsável por dar vida à interface de um site ou aplicativo. Ele é o profissional que trabalha na parte visual e interativa da aplicação, ou seja, em tudo aquilo que o usuário vê e com o qual interage diretamente no navegador ou na tela do dispositivo.</p>
                <div class="socials">
                    <a href="https://github.com/pedro-frasca" target="_blank" rel="noopener"> <button class="botao" title="GitHub de Guilherme Carvalho"><i class="bi bi-github icon github"></i></button></a>
                    <a href="https://www.linkedin.com/in/pedro-henrique-frasca-364393206/" target="_blank" rel="noopener"> <button class="botao" title="LinkedIn de Guilherme Carvalho"><i class="bi bi-linkedin icon linkedin"></i></button></a> 
                </div>
            </div>
            <!-- --------------------------------------------Pedro Frasca--------------------------------------------------------- -->

            <!-- --------------------------------------------Leonardo--------------------------------------------------------- -->
            <div class="card stagger-item" data-animate>
                <div class="card-image">
                    <img src="{% static 'images/pages/desenvolvedores/imagem_' %}" alt="Imagem de Perfil" class="imagem-item">
                </div>
                <p class="name">Leonardo</p>
                <p class="paragrafo">Front-end</p>
                <p class="paragrafo">O programador front-end é o responsável por dar vida à interface de um site ou aplicativo. Ele é o profissional que trabalha na parte visual e interativa da aplicação, ou seja, em tudo aquilo que o usuário vê e com o qual interage diretamente no navegador ou na tela do dispositivo.</p>
                <div class="socials">
                    <a href="https://github.com/Mdragon777" target="_blank" rel="noopener"> <button class="botao" title="GitHub de Murillo Mendes"><i class="bi bi-github icon github"></i></button></a>
                    <a href="https://www.linkedin.com/in/murillo-mendes-rodrigues" target="_blank" rel="noopener"> <button class="botao" title="LinkedIn de Murillo Mendes"><i class="bi bi-linkedin icon linkedin"></i></button></a> 
                </div>
            </div>
            <!-- --------------------------------------------Leonardo--------------------------------------------------------- -->

            <!-- --------------------------------------------Kayky--------------------------------------------------------- -->
            <div class="card stagger-item" data-animate>
                <div class="card-image">
                    <img src="{% static 'images/pages/desenvolvedores/imagem_kayky.jpg' %}" alt="Imagem de Perfil" class="imagem-item">
                </div>
                <p class="name">Kayky</p>
                <p class="paragrafo">Front-end</p>
                <p class="paragrafo">O programador front-end é o responsável por dar vida à interface de um site ou aplicativo. Ele é o profissional que trabalha na parte visual e interativa da aplicação, ou seja, em tudo aquilo que o usuário vê e com o qual interage diretamente no navegador ou na tela do dispositivo.</p>
                <div class="socials">
                    <a href="https://github.com/Giovani-Dantas-Braconi" target="_blank" rel="noopener"> <button class="botao" title="GitHub de Giovani Dantas"><i class="bi bi-github icon github"></i></button></a>
                    <a href="https://www.linkedin.com/in/giovani-dantas-braconi/" target="_blank" rel="noopener"> <button class="botao" title="LinkedIn de Giovani Dantas"><i class="bi bi-linkedin icon linkedin"></i></button></a> 
                </div>
            </div>
            <!-- --------------------------------------------Kayky--------------------------------------------------------- -->

            <div class="card stagger-item" data-animate>
                <div class="card-image">
                    <img src="https://media.licdn.com/dms/image/v2/D4D35AQEWrt16AxrRVg/profile-framedphoto-shrink_200_200/profile-framedphoto-shrink_200_200/0/1722566016013?e=1734008400&v=beta&t=fUFd8H1KKKtBusYs8ExDJQHi20r8CBFStdTVl-L7ZOc" alt="Imagem de Perfil" class="imagem-item">
                </div>
                <p class="name">Luiz Lima</p>
                <p class="paragrafo">Documentação</p>
                <p class="paragrafo">
                    O documentador cria e mantém a documentação clara e acessível de projetos, facilitando a comunicação e garantindo que o conhecimento seja compartilhado entre as equipes.</p>
                <div class="socials">
                    <a href="https://github.com/ReTr07229" target="_blank" rel="noopener"> <button class="botao" title="GitHub de Luiz Lima"><i class="bi bi-github icon github"></i></button></a>
                    <a href="https://www.linkedin.com/in/luiz-henrique-lima-rodrigues-a82296283/?locale=en_US" target="_blank" rel="noopener"> <button class="botao" title="LinkedIn de Luiz Lima"><i class="bi bi-linkedin icon linkedin"></i></button></a> 
                </div>
            </div>
        </section>
    </main>
{% endblock %}
{% block js %}{% endblock %}
